<!DOCTYPE html>
<html lang="vi">
<head>
<%- include('../partials/root/head')%>
<%- include('../partials/root/styles')%>
</head>
<body>
<%- include('../partials/navbar')%>

<!--scripts-->
<%- include('../partials/root/scripts')%>
</body>
</html>